@model Code_BreakersEventBudget.Models.NewUser
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Event Budget Tracker</h2>
    <span></span>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Enter your information</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p> Name : @Html.TextBoxFor(x => x.Name)</p>
            <p> Email : @Html.TextBoxFor(x => x.Email)</p>
            <input type="submit" value="Submit" />
        }
    </div>
</div>